
<ion-content padding>
      <pre>
<p>
  —E—||——<button class="rootNoteButton">F </button>——|——F#——|——G ——|——G#——|——A ——|——A#——|——B ——|——C ——|——C#——|——D ——|——D#——|——E ——| &nbsp;
  —B—||——<button class="noteButton">A</button>——|——C#——|——D ——|——D#——|——E ——|——F ——|——F#——|——G ——|——G#——|——A ——|——A#——|——B ——| &nbsp;
  —G—||——<button class="noteButton">G#</button>——|——A ——|——A#——|——B ——|——C ——|——C#——|——D ——|——D#——|——E ——|——F ——|——F#——|——G ——| &nbsp;
  —D—||——<button class="noteButton">D#</button>——|——E ——|——F ——|——F#——|——G ——|——G#——|——A ——|——A#——|——B ——|——C ——|——C#——|——D ——| &nbsp;
  —A—||——<button class="noteButton">A#</button>——|——B ——|——C ——|——C#——|——D ——|——D#——|——E ——|——F ——|——F#——|——G ——|——G#——|——A ——| &nbsp;
  —E—||——<button class="noteButton">F</button>——|——F#——|——G ——|——G#——|——A ——|——A#——|——B ——|——C ——|——C#——|——D ——|——D#——|——E ——| &nbsp;
</p>
      </pre>
    
</ion-content>
  
