<ion-header>
  <ion-toolbar>
    <ion-title>typeAcorde</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-expansion-panel class="matExpansion">
    <mat-expansion-panel-header>
      Acorde mayor
    </mat-expansion-panel-header>
  
    <div class="fretboardContainer">

      <pre>
<p>
—<span name="EMayor">E</span>—||——<span name="FMayor">F </span>——|——<span name="F#Mayor">F#</span>——|——<span name="GMayor">G </span>——|——<span name="G#Mayor">G#</span>——|——<span name="AMayor">A </span>——| &nbsp;
—<span name="BMayor">B</span>—||——<span name="CMayor">C </span>——|——<span name="C#Mayor">C#</span>——|——<span name="DMayor">D </span>——|——<span name="D#Mayor">D#</span>——|——<span name="EMayor">E </span>——| &nbsp;
—<span name="GMayor">G</span>—||——<span name="G#Mayor">G#</span>——|——<span name="AMayor">A </span>——|——<span name="A#Mayor">A#</span>——|——<span name="BMayor">B </span>——|——<span name="CMayor">C </span>——| &nbsp;
—<span name="DMayor">D</span>—||——<span name="D#Mayor">D#</span>——|——<span name="EMayor">E </span>——|——<span name="FMayor">F </span>——|——<span name="F#Mayor">F#</span>——|——<span name="GMayor">G </span>——| &nbsp;
—<span name="AMayor">A</span>—||——<span name="A#Mayor">A#</span>——|——<span name="BMayor">B </span>——|——<span name="CMayor">C </span>——|——<span name="C#Mayor">C#</span>——|——<span name="DMayor">D </span>——| &nbsp;
—<span name="EMayor">E</span>—||——<span name="FMayor">F </span>——|——<span name="F#Mayor">F#</span>——|——<span name="GMayor">G </span>——|——<span name="G#Mayor">G#</span>——|——<span name="AMayor">A </span>——| &nbsp;
</p>
      </pre>

    </div>
  </mat-expansion-panel>

  <hr>

  <mat-expansion-panel class="matExpansion">
    <mat-expansion-panel-header>
      Acorde menor
    </mat-expansion-panel-header>
  
    <div class="fretboardContainer">

      <pre>
<p>
—<span name="EMenor">E</span>—||——<span name="FMenor">F </span>——|——<span name="F#Menor">F#</span>——|——<span name="GMenor">G </span>——|——<span name="G#Menor">G#</span>——|——<span name="AMenor">A </span>——| &nbsp;
—<span name="BMenor">B</span>—||——<span name="CMenor">C </span>——|——<span name="C#Menor">C#</span>——|——<span name="DMenor">D </span>——|——<span name="D#Menor">D#</span>——|——<span name="EMenor">E </span>——| &nbsp;
—<span name="GMenor">G</span>—||——<span name="G#Menor">G#</span>——|——<span name="AMenor">A </span>——|——<span name="A#Menor">A#</span>——|——<span name="BMenor">B </span>——|——<span name="CMenor">C </span>——| &nbsp;
—<span name="DMenor">D</span>—||——<span name="D#Menor">D#</span>——|——<span name="EMenor">E </span>——|——<span name="FMenor">F </span>——|——<span name="F#Menor">F#</span>——|——<span name="GMenor">G </span>——| &nbsp;
—<span name="AMenor">A</span>—||——<span name="A#Menor">A#</span>——|——<span name="BMenor">B </span>——|——<span name="CMenor">C </span>——|——<span name="C#Menor">C#</span>——|——<span name="DMenor">D </span>——| &nbsp;
—<span name="EMenor">E</span>—||——<span name="FMenor">F </span>——|——<span name="F#Menor">F#</span>——|——<span name="GMenor">G </span>——|——<span name="G#Menor">G#</span>——|——<span name="AMenor">A </span>——| &nbsp;
</p>
      </pre>

    </div>
  </mat-expansion-panel>

  <hr>

  <mat-expansion-panel class="matExpansion">
    <mat-expansion-panel-header>
      Acorde con séptima
    </mat-expansion-panel-header>
  
    <div class="fretboardContainer">

      <pre>
<p>
—<span name="E7">E</span>—||——<span name="F7">F </span>——|——<span name="F#7">F#</span>——|——<span name="G7">G </span>——|——<span name="G#7">G#</span>——|——<span name="A7">A </span>——| &nbsp;
—<span name="B7">B</span>—||——<span name="C7">C </span>——|——<span name="C#7">C#</span>——|——<span name="D7">D </span>——|——<span name="D#7">D#</span>——|——<span name="E7">E </span>——| &nbsp;
—<span name="G7">G</span>—||——<span name="G#7">G#</span>——|——<span name="A7">A </span>——|——<span name="A#7">A#</span>——|——<span name="B7">B </span>——|——<span name="C7">C </span>——| &nbsp;
—<span name="D7">D</span>—||——<span name="D#7">D#</span>——|——<span name="E7">E </span>——|——<span name="F7">F </span>——|——<span name="F#7">F#</span>——|——<span name="G7">G </span>——| &nbsp;
—<span name="A7">A</span>—||——<span name="A#7">A#</span>——|——<span name="B7">B </span>——|——<span name="C7">C </span>——|——<span name="C#7">C#</span>——|——<span name="D7">D </span>——| &nbsp;
—<span name="E7">E</span>—||——<span name="F7">F </span>——|——<span name="F#7">F#</span>——|——<span name="G7">G </span>——|——<span name="G#7">G#</span>——|——<span name="A7">A </span>——| &nbsp;
</p>
      </pre>

    </div>
  </mat-expansion-panel>
</ion-content>
