<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      guitarString
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">guitarString</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Selecciona el tipo de escala</strong>
    <section>
        <ion-button expand="block" (click)="Fretboard()">Mayor</ion-button>
    </section>
    <section>
        <ion-button expand="block">Menor</ion-button>
    </section>
    <section>
      <ion-button expand="block">Armónica menor</ion-button>
    </section>
    <section>
      <ion-button expand="block">Pentatónica menor</ion-button>
    </section>
    <section>
      <ion-button expand="block">Cromática</ion-button>
    </section>
  </div>
</ion-content>