<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      guitarString
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-button>
      </ion-buttons>
      <ion-title>Escalas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text color="dark">
      <h5>Selecciona el tipo de escala</h5>
    </ion-text>
    <section>
        <ion-button expand="block" (click)="Fretboard()">Mayor</ion-button>
    </section>
    <section>
        <ion-button expand="block" (click)="play()">Menor</ion-button>
    </section>
    <section>
      <ion-button expand="block">Armónica menor</ion-button>
    </section>
    <section>
      <ion-button expand="block">Pentatónica menor</ion-button>
    </section>
    <section>
      <ion-button expand="block">Cromática</ion-button>
    </section>

    <mat-expansion-panel class="matExpansion">
      <mat-expansion-panel-header>
        This is the expansion title
      </mat-expansion-panel-header>
    
    <div class="fretboardContainer">

      <pre>
<p>
  —E—||——<button class="rootNoteButton">F </button>——|——F#——|——G ——|——G#——|——A ——|——A#——|——B ——|——C ——|——C#——|——D ——|——D#——|——E ——| &nbsp;
  —B—||——<button class="noteButton">A</button>——|——C#——|——D ——|——D#——|——E ——|——F ——|——F#——|——G ——|——G#——|——A ——|——A#——|——B ——| &nbsp;
  —G—||——<button class="noteButton">G#</button>——|——A ——|——A#——|——B ——|——C ——|——C#——|——D ——|——D#——|——E ——|——F ——|——F#——|——G ——| &nbsp;
  —D—||——<button class="noteButton">D#</button>——|——E ——|——F ——|——F#——|——G ——|——G#——|——A ——|——A#——|——B ——|——C ——|——C#——|——D ——| &nbsp;
  —A—||——<button class="noteButton">A#</button>——|——B ——|——C ——|——C#——|——D ——|——D#——|——E ——|——F ——|——F#——|——G ——|——G#——|——A ——| &nbsp;
  —E—||——<button class="noteButton">F</button>——|——F#——|——G ——|——G#——|——A ——|——A#——|——B ——|——C ——|——C#——|——D ——|——D#——|——E ——| &nbsp;
</p>
      </pre>

    </div>
    
    
    </mat-expansion-panel>
  </div>
</ion-content>