<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Escalas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Escalas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <mat-expansion-panel class="matExpansion">
    <mat-expansion-panel-header>
      Do
    </mat-expansion-panel-header>
    <ion-button shape="round" size="small" (click)="EscalaC()">
      <ion-icon name="play-outline"></ion-icon>
    </ion-button>
    <div class="fretboardContainer">
      <pre>
<p>
—<span name="E-DO">E</span>—||——<span name="F-DO">F </span>——|——<span name="F#-DO">F#</span>——|——<span name="G-DO">G </span>——|——<span name="G#-DO">G#</span>——|——<span name="A-DO">A </span>——| &nbsp;
—<span name="B-DO">B</span>—||——<span name="C-DO">C </span>——|——<span name="C#-DO">C#</span>——|——<span name="D-DO">D </span>——|——<span name="D#-DO">D#</span>——|——<span name="E-DO">E </span>——| &nbsp;
—<span name="G-DO">G</span>—||——<span name="G#-DO">G#</span>——|——<span name="A-DO">A </span>——|——<span name="A#-DO">A#</span>——|——<span name="B-DO">B </span>——|——<span name="C-DO">C </span>——| &nbsp;
—<span name="D-DO">D</span>—||——<span name="D#-DO">D#</span>——|——<span name="E-DO">E </span>——|——<span name="F-DO">F </span>——|——<span name="F#-DO">F#</span>——|——<span name="G-DO">G </span>——| &nbsp;
—<span name="A-DO">A</span>—||——<span name="A#-DO">A#</span>——|——<span name="B-DO">B </span>——|——<span name="C-DO">C </span>——|——<span name="C#-DO">C#</span>——|——<span name="D-DO">D </span>——| &nbsp;
—<span name="E-DO">E</span>—||——<span name="F-DO">F </span>——|——<span name="F#-DO">F#</span>——|——<span name="G-DO">G </span>——|——<span name="G#-DO">G#</span>——|——<span name="A-DO">A </span>——| &nbsp;
</p>
      </pre>
    </div>
  </mat-expansion-panel>

  <hr>

  <mat-expansion-panel class="matExpansion">
    <mat-expansion-panel-header>
      Re
    </mat-expansion-panel-header>
    <ion-button shape="round" size="small" (click)="EscalaD()">
      <ion-icon name="play-outline"></ion-icon>
    </ion-button>
    <div class="fretboardContainer">
      <pre>
<p>
—<span name="E-RE">E</span>—||——<span name="F-RE">F </span>——|——<span name="F#-RE">F#</span>——|——<span name="G-RE">G </span>——|——<span name="G#-RE">G#</span>——|——<span name="A-RE">A </span>——| &nbsp;
—<span name="B-RE">B</span>—||——<span name="C-RE">C </span>——|——<span name="C#-RE">C#</span>——|——<span name="D-RE">D </span>——|——<span name="D#-RE">D#</span>——|——<span name="E-RE">E </span>——| &nbsp;
—<span name="G-RE">G</span>—||——<span name="G#-RE">G#</span>——|——<span name="A-RE">A </span>——|——<span name="A#-RE">A#</span>——|——<span name="B-RE">B </span>——|——<span name="C-RE">C </span>——| &nbsp;
—<span name="D-RE">D</span>—||——<span name="D#-RE">D#</span>——|——<span name="E-RE">E </span>——|——<span name="F-RE">F </span>——|——<span name="F#-RE">F#</span>——|——<span name="G-RE">G </span>——| &nbsp;
—<span name="A-RE">A</span>—||——<span name="A#-RE">A#</span>——|——<span name="B-RE">B </span>——|——<span name="C-RE">C </span>——|——<span name="C#-RE">C#</span>——|——<span name="D-RE">D </span>——| &nbsp;
—<span name="E-RE">E</span>—||——<span name="F-RE">F </span>——|——<span name="F#-RE">F#</span>——|——<span name="G-RE">G </span>——|——<span name="G#-RE">G#</span>——|——<span name="A-RE">A </span>——| &nbsp;
</p>
      </pre>
    </div>
  </mat-expansion-panel>

  <hr>

  <mat-expansion-panel class="matExpansion">
    <mat-expansion-panel-header>
      Mi
    </mat-expansion-panel-header>
    <ion-button shape="round" size="small" (click)="EscalaE()">
      <ion-icon name="play-outline"></ion-icon>
    </ion-button>
    <div class="fretboardContainer">
      <pre>
<p>
—<span name="E-MI">E</span>—||——<span name="F-MI">F </span>——|——<span name="F#-MI">F#</span>——|——<span name="G-MI">G </span>——|——<span name="G#-MI">G#</span>——|——<span name="A-MI">A </span>——| &nbsp;
—<span name="B-MI">B</span>—||——<span name="C-MI">C </span>——|——<span name="C#-MI">C#</span>——|——<span name="D-MI">D </span>——|——<span name="D#-MI">D#</span>——|——<span name="E-MI">E </span>——| &nbsp;
—<span name="G-MI">G</span>—||——<span name="G#-MI">G#</span>——|——<span name="A-MI">A </span>——|——<span name="A#-MI">A#</span>——|——<span name="B-MI">B </span>——|——<span name="C-MI">C </span>——| &nbsp;
—<span name="D-MI">D</span>—||——<span name="D#-MI">D#</span>——|——<span name="E-MI">E </span>——|——<span name="F-MI">F </span>——|——<span name="F#-MI">F#</span>——|——<span name="G-MI">G </span>——| &nbsp;
—<span name="A-MI">A</span>—||——<span name="A#-MI">A#</span>——|——<span name="B-MI">B </span>——|——<span name="C-MI">C </span>——|——<span name="C#-MI">C#</span>——|——<span name="D-MI">D </span>——| &nbsp;
—<span name="E-MI">E</span>—||——<span name="F-MI">F </span>——|——<span name="F#-MI">F#</span>——|——<span name="G-MI">G </span>——|——<span name="G#-MI">G#</span>——|——<span name="A-MI">A </span>——| &nbsp;
</p>
      </pre>
    </div>
  </mat-expansion-panel>

  <hr>

  <mat-expansion-panel class="matExpansion">
    <mat-expansion-panel-header>
      Fa
    </mat-expansion-panel-header>
    <ion-button shape="round" size="small" (click)="EscalaF()">
      <ion-icon name="play-outline"></ion-icon>
    </ion-button>
    <div class="fretboardContainer">
      <pre>
<p>
—<span name="E-FA">E</span>—||——<span name="F-FA">F </span>——|——<span name="F#-FA">F#</span>——|——<span name="G-FA">G </span>——|——<span name="G#-FA">G#</span>——|——<span name="A-FA">A </span>——| &nbsp;
—<span name="B-FA">B</span>—||——<span name="C-FA">C </span>——|——<span name="C#-FA">C#</span>——|——<span name="D-FA">D </span>——|——<span name="D#-FA">D#</span>——|——<span name="E-FA">E </span>——| &nbsp;
—<span name="G-FA">G</span>—||——<span name="G#-FA">G#</span>——|——<span name="A-FA">A </span>——|——<span name="A#-FA">A#</span>——|——<span name="B-FA">B </span>——|——<span name="C-FA">C </span>——| &nbsp;
—<span name="D-FA">D</span>—||——<span name="D#-FA">D#</span>——|——<span name="E-FA">E </span>——|——<span name="F-FA">F </span>——|——<span name="F#-FA">F#</span>——|——<span name="G-FA">G </span>——| &nbsp;
—<span name="A-FA">A</span>—||——<span name="A#-FA">A#</span>——|——<span name="B-FA">B </span>——|——<span name="C-FA">C </span>——|——<span name="C#-FA">C#</span>——|——<span name="D-FA">D </span>——| &nbsp;
—<span name="E-FA">E</span>—||——<span name="F-FA">F </span>——|——<span name="F#-FA">F#</span>——|——<span name="G-FA">G </span>——|——<span name="G#-FA">G#</span>——|——<span name="A-FA">A </span>——| &nbsp;
</p>
      </pre>
    </div>
  </mat-expansion-panel>

  <hr>

  <mat-expansion-panel class="matExpansion">
    <mat-expansion-panel-header>
      Sol
    </mat-expansion-panel-header>
    <ion-button shape="round" size="small" (click)="EscalaG()">
      <ion-icon name="play-outline"></ion-icon>
    </ion-button>
    <div class="fretboardContainer">
      <pre>
<p>
—<span name="E-SOL">E</span>—||——<span name="F-SOL">F </span>——|——<span name="F#-SOL">F#</span>——|——<span name="G-SOL">G </span>——|——<span name="G#-SOL">G#</span>——|——<span name="A-SOL">A </span>——| &nbsp;
—<span name="B-SOL">B</span>—||——<span name="C-SOL">C </span>——|——<span name="C#-SOL">C#</span>——|——<span name="D-SOL">D </span>——|——<span name="D#-SOL">D#</span>——|——<span name="E-SOL">E </span>——| &nbsp;
—<span name="G-SOL">G</span>—||——<span name="G#-SOL">G#</span>——|——<span name="A-SOL">A </span>——|——<span name="A#-SOL">A#</span>——|——<span name="B-SOL">B </span>——|——<span name="C-SOL">C </span>——| &nbsp;
—<span name="D-SOL">D</span>—||——<span name="D#-SOL">D#</span>——|——<span name="E-SOL">E </span>——|——<span name="F-SOL">F </span>——|——<span name="F#-SOL">F#</span>——|——<span name="G-SOL">G </span>——| &nbsp;
—<span name="A-SOL">A</span>—||——<span name="A#-SOL">A#</span>——|——<span name="B-SOL">B </span>——|——<span name="C-SOL">C </span>——|——<span name="C#-SOL">C#</span>——|——<span name="D-SOL">D </span>——| &nbsp;
—<span name="E-SOL">E</span>—||——<span name="F-SOL">F </span>——|——<span name="F#-SOL">F#</span>——|——<span name="G-SOL">G </span>——|——<span name="G#-SOL">G#</span>——|——<span name="A-SOL">A </span>——| &nbsp;
</p>
      </pre>
    </div>
  </mat-expansion-panel>

  <hr>

  <mat-expansion-panel class="matExpansion">
    <mat-expansion-panel-header>
      La
    </mat-expansion-panel-header>
    <ion-button shape="round" size="small" (click)="EscalaA()">
      <ion-icon name="play-outline"></ion-icon>
    </ion-button>
    <div class="fretboardContainer">
      <pre>
<p>
—<span name="E-LA">E</span>—||——<span name="F-LA">F </span>——|——<span name="F#-LA">F#</span>——|——<span name="G-LA">G </span>——|——<span name="G#-LA">G#</span>——|——<span name="A-LA">A </span>——| &nbsp;
—<span name="B-LA">B</span>—||——<span name="C-LA">C </span>——|——<span name="C#-LA">C#</span>——|——<span name="D-LA">D </span>——|——<span name="D#-LA">D#</span>——|——<span name="E-LA">E </span>——| &nbsp;
—<span name="G-LA">G</span>—||——<span name="G#-LA">G#</span>——|——<span name="A-LA">A </span>——|——<span name="A#-LA">A#</span>——|——<span name="B-LA">B </span>——|——<span name="C-LA">C </span>——| &nbsp;
—<span name="D-LA">D</span>—||——<span name="D#-LA">D#</span>——|——<span name="E-LA">E </span>——|——<span name="F-LA">F </span>——|——<span name="F#-LA">F#</span>——|——<span name="G-LA">G </span>——| &nbsp;
—<span name="A-LA">A</span>—||——<span name="A#-LA">A#</span>——|——<span name="B-LA">B </span>——|——<span name="C-LA">C </span>——|——<span name="C#-LA">C#</span>——|——<span name="D-LA">D </span>——| &nbsp;
—<span name="E-LA">E</span>—||——<span name="F-LA">F </span>——|——<span name="F#-LA">F#</span>——|——<span name="G-LA">G </span>——|——<span name="G#-LA">G#</span>——|——<span name="A-LA">A </span>——| &nbsp;
</p>
      </pre>
    </div>
  </mat-expansion-panel>

  <hr>

  <mat-expansion-panel class="matExpansion">
    <mat-expansion-panel-header>
      Si
    </mat-expansion-panel-header>
    <ion-button shape="round" size="small" (click)="EscalaB()">
      <ion-icon name="play-outline"></ion-icon>
    </ion-button>
    <div class="fretboardContainer">
      <pre>
<p>
—<span name="E-SI">E</span>—||——<span name="F-SI">F </span>——|——<span name="F#-SI">F#</span>——|——<span name="G-SI">G </span>——|——<span name="G#-SI">G#</span>——|——<span name="A-SI">A </span>——| &nbsp;
—<span name="B-SI">B</span>—||——<span name="C-SI">C </span>——|——<span name="C#-SI">C#</span>——|——<span name="D-SI">D </span>——|——<span name="D#-SI">D#</span>——|——<span name="E-SI">E </span>——| &nbsp;
—<span name="G-SI">G</span>—||——<span name="G#-SI">G#</span>——|——<span name="A-SI">A </span>——|——<span name="A#-SI">A#</span>——|——<span name="B-SI">B </span>——|——<span name="C-SI">C </span>——| &nbsp;
—<span name="D-SI">D</span>—||——<span name="D#-SI">D#</span>——|——<span name="E-SI">E </span>——|——<span name="F-SI">F </span>——|——<span name="F#-SI">F#</span>——|——<span name="G-SI">G </span>——| &nbsp;
—<span name="A-SI">A</span>—||——<span name="A#-SI">A#</span>——|——<span name="B-SI">B </span>——|——<span name="C-SI">C </span>——|——<span name="C#-SI">C#</span>——|——<span name="D-SI">D </span>——| &nbsp;
—<span name="E-SI">E</span>—||——<span name="F-SI">F </span>——|——<span name="F#-SI">F#</span>——|——<span name="G-SI">G </span>——|——<span name="G#-SI">G#</span>——|——<span name="A-SI">A </span>——| &nbsp;
</p>
      </pre>
    </div>
  </mat-expansion-panel>
</ion-content>