<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      guitarString
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Selecciona la nota raíz</strong>
    <section>
        <ion-button expand="block">Do</ion-button>
    </section>
    <section>
        <ion-button expand="block">Re</ion-button>
    </section>
    <section>
      <ion-button expand="block">Mi</ion-button>
    </section>
    <section>
      <ion-button expand="block">Fa</ion-button>
    </section>
    <section>
      <ion-button expand="block">Sol</ion-button>
    </section>
    <section>
      <ion-button expand="block">La</ion-button>
    </section>
    <section>
      <ion-button expand="block">Si</ion-button>
    </section>
  </div>
</ion-content>
