<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Acordes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Acordes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Selecciona la nota raíz</strong>
    <section>
        <ion-button expand="block" (click)="clickNota('Do')">Do</ion-button>
    </section>
    <section>
        <ion-button expand="block" (click)="clickNota('Re')">Re</ion-button>
    </section>
    <section>
      <ion-button expand="block" (click)="clickNota('Mi')">Mi</ion-button>
    </section>
    <section>
      <ion-button expand="block" (click)="clickNota('Fa')">Fa</ion-button>
    </section>
    <section>
      <ion-button expand="block" (click)="clickNota('Sol')">Sol</ion-button>
    </section>
    <section>
      <ion-button expand="block" (click)="clickNota('La')">La</ion-button>
    </section>
    <section>
      <ion-button expand="block" (click)="clickNota('Si')">Si</ion-button>
    </section>
  </div>
</ion-content>
